html,
body {
  height: 100%;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-form {
  max-width: 604px;
}
.navbar-form .form-group {
  margin-left: 4px;
  max-width: 203px;
}
.navbar-form button {
  margin-left: 10px;
}
.toastr-top-right {
  top: 70px;
}
.toast-success {
  background-colSor: #13987e;
}
.top-padding {
  padding-top: 10px;
}
.margin-left {
  margin-left: 10px;
}
input,
select {
  max-width: 320px;
}
.inline {
  display: inline-block;
}
