.container
	.jumbotron.text-center
		h2
			strong Exploring Etymology
		p hacking ground for nodejs, mean stack and learning some interesting etymology

		p
			button.btn.btn-primary(href="/") 
				strong Play the Etymology game 
	.row
		//.col-md-6
		//	div(ng-include="'/partials/home/update-feed'")
		//.col-md-6
		//	div(ng-include="'/partials/home/comments'")